/// Removes a element at a specific index in a list.
/// @access public
/// @group lists
/// @param {List} $list - The list that we want to shrink
/// @param {Number} $index - The index of the element that we want to remove (can be negative to start from the end of the list)
/// @return {List} - The new shrinked list
@function remove-nth(
  $list,
  $index
  ) {
  @if no-error(
    validate-type($list, 'list', argument-type-error('$list', 'remove-nth()')),
    validate-type($index, 'number', argument-type-error('$index', 'remove-nth()')),
    validate($index != 0, argument-value-error('$index', 'remove-nth()', 0)),
    validate(abs($index) < length($list), 'second argument `$index` of `remove-nth()` is #{$index} but the first argument `$list` is only #{length($list)} item long')
    ) {


      $result: ();
  
      // Calculates the element index if the index is negative.
      $index: if($index < 0, length($list) + $index + 1, $index);  
  
      @for $i from 1 through length($list) {
        // If the index is not the index that we want to remove,
        @if $i != $index {
          // adds the element at this index to the result.
          $result: append($result, nth($list, $i));
        }
      }
          
    @return $result;

    }
}