/// Creates a new component scope.
/// @access public
/// @group core
/// @param {String} $name - Component name
/// @param {Map} $declarations - [(null:null)] - The declarations for the default variant
@mixin component(
  $name,
  $declarations: (null:null)
  ) {
  @if no-error(
    validate-type($name, 'string', argument-type-error('$name', 'component()')),
    validate-type($declarations, 'map', argument-type-error('$declarations', 'component()'))
    ) {

  
  
    // Makes sure that the component is created.
    $component: _set-component($name);

    // If we retrieve some declarations
    @if $declarations != (null:null) {
      // sets the default variant with these.
      $newVariant: _set-component-variant($name, 'default', '', $declarations);
    }
    @else {
      $declarations: ();
    }
  
    // Makes the parameters accessible from the `base` function.
    @include new-scope(('_base': ('name': $name, 'declarations': $declarations))) {
      // Processes the scope content.
      @content;
    }

  }   
}