/// Returns the parent object.
/// @access public
/// @group common
/// @param {String} $variablePath [''] - The path of the variable to get
/// @return {*} - The object
@function base(
  $variablePath: ''
  ) {
  $this: 'base()';
  @if no-error(
    validate-type($variablePath, 'string', argument-type-error('$variablePath', $this))
    ) {


    @if $variablePath != '' {
      $variablePath: ':#{$variablePath}';
    }

    $parentObject: get('_base#{$variablePath}');

    @if $parentObject == null {
      @error '`#{$this}` function can\'t be used outside of a nested object';
    }

    @return $parentObject;

  }
}