@include describe('remove-nth [function]') {

  // Positive number test
  // ====================

  @include it('should remove an element from a list') {

    @include assert-equal(
      $assert: remove-nth(1 2 3 4 5, 2),
      $expected: 1 3 4 5
      );
  }

  // Negative number test
  // ====================

  @include it('should handle negative number') {

    @include assert-equal(
      $assert: remove-nth(1 2 3 4 5, -2),
      $expected: 1 2 3 5
      );
  }

}