@include describe('media-response [mixin]') {

  // Output media test
  // ===================

  @include it('should output a content inside a media') {   

    // == Arange ==

    $_medias: (
      'tablets and up': 'only screen and (min-width: 768px)'
      ) !global; 

    // == Assert ==

    @include assert {

      @include output {
        @include media-response('tablets and up') { 
          color: blue;
        }
      }

      @include expect {
        @media only screen and (min-width: 768px) {
          color: blue;
        }
      }
    }
  }

}