@include test(
  'str-ends-with [function]'
  ) {


  @include assert-true(
    $description: 'should return `true` if the string ends with the searched string',

    $assert: str-ends-with('Lorem ipsum dolor sit amet', 't')
    );

  @include assert-false(
    $description: 'should return `false` if the string dosen\'t ends with the searched string',

    $assert: str-ends-with('Lorem ipsum dolor sit amet', 's')
    )

  @include assert-true(
    $description: 'should work if the searched string has many characters',

    $assert: str-ends-with('Lorem ipsum dolor sit amet', 'amet')
    )

  @include assert-false(
    $description: 'should not work if the searched string is longer than the parent string',

    $assert: str-ends-with('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    )

  @include assert-true(
    $description: 'should work if the strings are equal',

    $assert: str-ends-with('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet')
    )

}