@include test(
  'str-contains [function]'
  ) {

  @include assert-true(
    $description: 'should return `true` if the string contains the searched string',

    $assert: str-contains('Lorem ipsum dolor sit amet', 'p')
    );

  @include assert-false(
    $description: 'should return `false` if the string dosen\'t contains the searched string',

    $assert: str-contains('Lorem ipsum dolor sit amet', 'w')
    )

  @include assert-true(
    $description: 'should work if the searched string has many characters',

    $assert: str-contains('Lorem ipsum dolor sit amet', 'ipsum dolor')
    )

  @include assert-false(
    $description: 'should not work if the searched string is longer than the original string',

    $assert: str-contains('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
    )

  @include assert-true(
    $description: 'should work if the strings are equal',

    $assert: str-contains('Lorem ipsum dolor sit amet', 'Lorem ipsum dolor sit amet')
    )

}