@include describe('str-replace [function]') {

  // One occurence test
  // ==================

  @include it('should replace one occurence of the searched string') {

    @include assert-equal(
      $assert: str-replace('Lorem ipsum dolor sit amet', 'amet', '***'),
      $expected: 'Lorem ipsum dolor sit ***'
      );
  }

  // All occurences test
  // ===================

  @include it('should replace all occurences of the searched string') {

    @include assert-equal(
      $assert: str-replace('Lorem ipsum dolor sit amet', 'o', '*'),
      $expected: 'L*rem ipsum d*l*r sit amet'
      );
  }

  // No match test
  // =============

  @include it('should return the original string if there is no match') {

    @include assert-equal(
      $assert: str-replace('Lorem ipsum dolor sit amet', 'w', '*'),
      $expected: 'Lorem ipsum dolor sit amet'
      );
  }

  // Empty string test
  // =================

  @include it('should handle empty initial string') {

    @include assert-equal(
      $assert: str-replace('', 's', '*'),
      $expected: ''
      );
  }

}