/// Adds a new color.
/// @access public
/// @group color
/// @param {String} $name - The color name
/// @param {Color} $base - The default color code
/// @param {Map} $variants [(null:null)] - The color variants
/// @require {group} validation
@mixin color(
  $name,
  $base,
  $variants: (null:null)
  ) {
  @if no-error(
    validate-type($name, 'string', argument-type-error('$name', 'color()')),
    validate-type($base, 'color', argument-type-error('$base', 'color()')),
    validate-type($variants, 'map<string, color>', argument-type-error('$variants', 'color()')),
    validate(map-has-key($variants, 'base') == false, 'color variant key `base` is reserved by strawberry')
    ) {

    @if ($variants == (null:null)) {
      $variants: ();
    }

    // Creates the new color map.
    $newColor: (
      'base': $base
    );

    // Adds the color variants to the color map.
    $newColor: map-merge($newColor, $variants);

    // Adds the new color to the color list.
    $_colors: map-merge($_colors, ($name: $newColor)) !global;

  }
}