@include describe('base [function]') {

  // Return object test
  // ==================

  @include it('should return the parent object') {

    // == Arange ==

    $_scope-variables-stack: ('_base': ('foo': 1)) () !global;

    // == Assert ==

    @include assert-equal(
      $assert: base(),
      $expected: ('foo': 1)
      );
  }

  // Deep get test
  // =============

  @include it('should handle deep get') {

    // == Arange ==

    $_scope-variables-stack: ('_base': ('foo': ('bar': 1))) ('baz': 2) !global;

    // == Assert ==

    @include assert-equal(
      $assert: base('foo:bar'),
      $expected: 1
      );
  }

}