@include describe('get [function]') {

  // Return variable test
  // ====================

  @include it('should return a variable from the current scope') {

    // == Arange ==

    $_scope-variables-stack: ('foo': 1) ('bar': 2) !global;

    // == Assert ==

    @include assert-equal(
      $assert: get('foo'),
      $expected: 1
      );
  }

  // No variable test
  // ================

  @include it('should return `null` if the scope contains no variable') {

    // == Arange ==

    $_scope-variables-stack: () !global;

    // == Assert ==

    @include assert-equal(
      $assert: get('foo'),
      $expected: null
      );
  }

  // Deep get test
  // =============

  @include it('should handle deep get') {

    // == Arange ==

    $_scope-variables-stack: ('foo': ('bar': ('baz': 1))) ('qux': 2) !global;

    // == Assert ==

    @include assert-equal(
      $assert: get('foo:bar:baz'),
      $expected: 1
      );
  }

}