@include describe('this [function]') {

  // Return entity test
  // ==================

  @include it('should return the entity where we are') {

    // == Arange ==

    $_scope-variables-stack: ('_this': ('foo': 1)) () !global;

    // == Assert ==

    @include assert-equal(
      $assert: this(),
      $expected: ('foo': 1)
      );
  }

  // Deep get test
  // =============

  @include it('should handle deep get') {

    // == Arange ==

    $_scope-variables-stack: ('_this': ('foo': ('bar': 1))) ('baz': 2) !global;

    // == Assert ==

    @include assert-equal(
      $assert: this('foo:bar'),
      $expected: 1
      );
  }

}