/// Adds a new font.
/// @access public
/// @group core
/// @param {String} $name - The font name
/// @param {String} $family - The `font-family` property
/// @param {String} $style ['normal'] - The `font-style` property
/// @param {String} $weight ['normal'] - The `font-weight` property
@mixin font(
  $name,
  $family,
  $style: 'normal',
  $weight: 'normal'
  ) {
  @if no-error(
    validate-type($name, 'string', argument-type-error('$name', 'font()')),
    validate-type($family, 'string', argument-type-error('$family', 'font()'))
    ) {


    $newFont: '#{$style} #{$weight} medium/normal #{$family}';

    // Adds the new font to the font list.
    $_fonts: map-merge($_fonts, ($name: $newFont)) !global;

  }
}