/// Searches a substring at the end of a string.
/// @access public
/// @group common
/// @param {String} $string - The parent string
/// @param {String} $search - The substring to search
/// @return {Boolean} - True if the parent string ends with the substring
@function str-ends-with(
  $string,
  $search
  ) {
  $this: 'str-ends-with()';
  @if no-error(
    validate-type($string, 'string', argument-type-error('$string', $this, 'string')),
    validate-type($search, 'string', argument-type-error('$search', $this, 'string'))
    ) {



    // If the strings are equals
    @if $string == $search {
      // the parent string ends with the searched string.
      @return true;
    }

    $searchLength: str-length($search);
    $stringLength: str-length($string);

    // If the searched string is longer than the parent string
    @if $searchLength > $stringLength {
      // the parent string doesn't ends with the searched string.
      @return false;
    }
   
   // Gets the part of the parent string that we want to compare.
   $endToCompare: str-slice($string, $stringLength - $searchLength + 1);

   @return $endToCompare == $search;

  }
}