@include describe('font [mixin]') {

  // Add font test
  // =============

  @include it('should add the font to the list') {

    // == Arange ==

    $_fonts: () !global; 

    // == Act ==

    @include font('primary', 'Roboto, sans-serif', 'italic', 'bold');

    // == Assert ==

    @include assert-equal(
      $assert: $_fonts,
      $expected: (
        'primary': 'italic bold medium/normal Roboto, sans-serif'
        )
      );
  }

  // Default arguments test
  // ======================

  @include it('should have default arguments') {

    // == Arange ==

    $_fonts: () !global; 

    // == Act ==

    @include font('primary', 'Roboto, sans-serif');

    // == Assert ==

    @include assert-equal(
      $assert: $_fonts,
      $expected: (
        'primary': 'normal normal medium/normal Roboto, sans-serif'
        )
      );
  }

}