@include describe('get-font [function]') {

  // Return font test
  // ================

  @include it('should return the font') {

    // == Arange ==

    $_fonts: (
      'primary': 'italic bold medium/normal Georgia, serif'
      ) !global; 

    // == Assert ==

    @include assert-equal(
      $assert: get-font('primary'),
      $expected: 'italic bold medium/normal Georgia, serif'
      );
  }

}