// ======
// Colors
// ======

@include color(
  $name: 'primary',
  $code: #B71C1C
  ) {
  @include color-variant(
    $name: 'light',
    $code: mix(white, base('code'), 10%)
  );
}

@include color(
  $name: 'secondary',
  $code: #76FF03
  );

// =====
// Fonts
// =====

@include font(
  $name: 'primary',
  $family: 'Roboto, sans-serif'
);

// ======
// Medias
// ======

@include media(
  $name: 'tablets and up',
  $query: '(min-width: 768px)'
);

// ==========
// Components
// ==========

@include component(
  $name: 'demo-button',
  $declarations: (
    'background-color': get-color('primary', 'light'),
    'border-color': white,
    'color': white
    )
  ) {
  @include component-variant(
    $name: 'secondary',
    $selector: '.secondary',
    $declarations: (
      'background-color': get-color('secondary'),
      'color': black
      )
  );
}