@include color(
  $name: 'primary',
  $code: #8e3329
);

@include component(
  $name: 'im-button',
  $declarations: (
    'color': get-color('primary', 'light')  
    )
  ) {
  @include component-variant(
    $name: 'primary',
    $selector: '[--primary]',
    $declarations: (
      'color': red
    )
  );
  @include component-variant(
    $name: 'secondary',
    $selector: '[--secondary]',
    $declarations: (
      'color': green
    )
  );
}