@import 'strawberry/common';
@import 'strawberry/core';

@import './theme';

@include new-component(
  $name: 'my-button', 
  $selector: '[--my-button]', 
  $declarations: (
    border: 1px solid black,
    color: white
    )
  ) { 
  @include dynamic {
    border: get('border');
    color: get('color');
    font-family: get-font('primary');
  }
  @include static {
    background-color: yellow;

    @include media-response('tablets and up') {
      background-color: white;
    }
  }
}
