@import 'strawberry/common';
@import 'strawberry/core';

@import './theme';

@include new-component(
  $name: 'demo-button', 
  $selector: '.demo-button', 
  $declarations: (
    'background-color': transparent,
    'border-color': black,
    'border-radius': 4px,
    'border-width': 0,
    'color': black,
    'font': get-font('primary'),
    'padding': 5px 10px
    )
  ) { 
  @include dynamic {
    background-color: get('background-color');
    border-color: get('border-color');
    border-radius: get('border-radius');
    border-width: get('border-width');
    color: get('color');
    font: get('font');
    padding: get('padding');
  }
  @include static {
    cursor: pointer;
   }
}
