@import '../strawberry';

@import './theme';

@include new-component(
  $name: 'im-button', 
  $selector: '[--im-button]', 
  $declarations: (
    border: 1px solid black,
    color: white
    )
  ) { 
  @include public {
    border: get('border');
    color: get('color');
  }
  @include private {
    background-color: black;
  }
}