@include describe('component-variant [mixin]') {

  // Add variant test
  // ================

  @include it('should add a variant to a component') {

    // == Arange ==

    $_components: (
      'foo': (
        'variants': ()          
        )
      ) !global; 

    $_scope-variables-stack: ('_base': ('name': 'foo')) () !global; 

    // == Act ==

    @include component-variant('primary', '.primary', ('color': red));

    // == Assert ==

    @include assert-equal(
      $assert: $_components,
      $expected: (
        'foo': (
          'variants': (
            'primary': (
              'selector': '.primary',
              'declarations': ('color': red)
              )
            )          
          )       
        )
      );  
  }

}