/// Returns a component's variant.
/// @access private
/// @group core
/// @param {String} $componentName - The component name
/// @param {String} $variantName - The variant name to get
/// @return {Map} - The component variant
@function _get-component-variant(
  $componentName,
  $variantName
  ) {
  @if no-error(
    validate-type($componentName, 'string', argument-type-error('$componentName', '_get-component-variant()')),
    validate-type($variantName, 'string', argument-type-error('$variantName', '_get-component-variant()'))
    ) {


    $variant: null;
    
    // Gets the component variants.
    $componentVariants: _get-component-variants($componentName);

    // If the component doesn't has variants
    @if ($componentVariants == ()) {
      $variant: ();
    }
    // If the component has variants
    @else {
      // Gets the variant by its name.
      $variant: map-get($componentVariants, $variantName);

      // If the variant doesn't exists
      @if ($variant == null) {
        $variant: ();
      }
    }

    @return $variant;

  }
}