@include describe('argument-type-error [function]') {

  // Valid message test
  // ==================

  @include it('should return a valid argument type error message') {

    @include assert-equal(
      $assert: argument-type-error('$foo', 'bar()', 'string'),
      $expected: 'argument `$foo` of `bar()` must be a string'
      );
  }

  // Third argument test
  // ===================

  @include it('should initialise the third argument with a default value of \'%type%\'') {

    @include assert-equal(
      $assert: argument-type-error('$foo', 'bar()'),
      $expected: 'argument `$foo` of `bar()` must be a %type%'
      );
  }

}