/// Returns an existing color.
/// @access public
/// @group core / color
/// @param {String} $name - The color name
/// @param {String} $variant - The name of the color variant
/// @return {Color} - The color code
@function get-color(
  $name,
  $variant: 'base'
  ) {
  @if no-error(
    validate-type($name, 'string', argument-type-error('$name', 'get-color()')),
    validate-type($variant, 'string', argument-type-error('$variant', 'get-color()'))
    ) {


    // Gets the colors map.
    $color: map-get($_colors, $name);

    // Gets the color code.
    $color: map-get($color, $variant);

    @return $color;

  }
}